img{
    width: 400px
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.inmiddle {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 2vw;
}


