img{
    width: 400px
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgba(5, 247, 255, 0.435);
}

.inmiddle {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 2vw;
}


.home{
    text-align: center;
    display: block;
    margin :auto;
    margin-top: 7%
}

.types{
    font-size: 20px;
}

.mainpage_raven{
    width: 200px;
}
.mainpage_eagle{
    width: 200px;
    height: 150px;
}